<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<div><img src="/images/ticTacDoh.png" /></div>
<p>Welcome to <%= title %>. To view games in progress <a href="/rest">Click Here.</a></p>

<p>For documentation <a href="/info">Click here.</a></p>
</body>
</html>
